@font-face{
    font-family: "sagoe_ui_semiliht";
    src: url("fonts/segoe-ui/segoe-ui-5.eot") format("eot"),
        url("fonts/segoe-ui/segoe-ui-5.otf") format("otf"),
        url("fonts/segoe-ui/segoe-ui-5.svg") format("svg"),
        url("fonts/segoe-ui/segoe-ui-5.ttf") format("truetype"),
        url("fonts/segoe-ui/segoe-ui-5.woff") format("woff");
}
html{
    background-color: rgb(240, 240, 240);
}
body{
    font-family:  "sagoe_ui_semiliht", sans-serif;
    width: 1000px;
    margin: auto;
    box-shadow: 1px 1px 5px gray;
    padding: 50px;
    background-color: white;
}
.elements{
    display: flex;
    justify-content: space-between;
}
header{
    margin-bottom: -20px;
}
h1{
    color: rgb(173, 44, 212);
}
header h3{
    color: gray;
    position: relative;
    bottom: 20px;
}
.cv{
    text-decoration: none;
    background-color: rgb(118, 199, 132);
    color: white;
    padding: 10px;
    position: relative;
    left: 300px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px grey;
}


/* SECTION */

.barre{
    width: 150px;
    border-top: solid gray 1px;
    position: relative;
    bottom: 10px;
}
.obtentions, .langues, .etudes{
    margin-bottom: 50px;
}
span{
    color: gray;
    font-weight: normal;
}
section p{
    color: rgb(173, 44, 212);
    font-weight: bold;
}
.section h3{
    color: rgb(173, 44, 212);
}
 .obtentions h4, .obtentions p, .etudes h4, .etudes p {
    margin: 0px;
}
.section li {
    margin: 30px;
}

/* ASIDE*/

aside{
    position: relative;
    margin: auto;
    box-shadow: 2px 2px 8px rgb(117, 31, 143);
}
.aside__profile{
    width: 200px;
    border: solid 1px rgb(114, 29, 139);
    border-radius: 50%;
    position: absolute;
    top: -130px;
}
.aside__section{
    background-color: #ba72e4;
    width: 300px;
    margin: auto;
    padding: 100px 20px 20px;
}
.langages h4{
    color: white;
    margin: 5px;
}
.langages img{
    height: 50px;
}
aside li{
    color: white;
    margin: 10px;
}